name: Check Rust
on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always
  FOUNDRY_PROFILE: ci

jobs:
  cargo-fmt:
    name: cargo fmt
    runs-on: ubuntu-latest
    steps:
      - name: Check-Out
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Nightly
        run: |
          rustup toolchain install nightly
          rustup component add --toolchain nightly-x86_64-unknown-linux-gnu rustfmt

      - name: cargo +nightly fmt
        run: cargo +nightly fmt --all -- --check

  cargo-check:
    name: cargo check
    runs-on: ubuntu-latest
    steps:
      - name: Check-Out
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: Swatinem/rust-cache@v2
        with:
          key: cargo-check
          cache-on-failure: true

      - name: cargo check --all-features
        run: cargo check --all-features

  cargo-clippy:
    name: cargo clippy
    runs-on: ubuntu-latest
    steps:
      - name: Check-Out
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: Swatinem/rust-cache@v2
        with:
          key: cargo-clippy
          cache-on-failure: true

      - name: cargo clippy --all-features
        run: cargo clippy --all-features

  cargo-fix:
    name: cargo fix
    runs-on: ubuntu-latest
    steps:
      - name: Check-Out
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: Swatinem/rust-cache@v2
        with:
          key: cargo-fix
          cache-on-failure: true

      - name: cargo fix --all-features
        run: |
          # Run cargo fix on the project
          cargo fix --all-features

          # Check for local git changes
          if ! git diff --exit-code; then
              echo "There are local changes after running 'cargo fix --all-features' ❌"
              exit 1
          else
              echo "No changes detected after running 'cargo fix --all-features' ✅"
          fi

  cargo-test:
    name: cargo test
    runs-on: ubuntu-latest
    steps:
      - name: cargo test
        run: cargo test
